[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "postgresql"]

[phases.install]
cmds = ["python -m pip install -r requirements.txt"]

[start]
cmd = "alembic upgrade head && gunicorn main:app --bind 0.0.0.0:$PORT --workers 2 --timeout 120"
